* {
    padding: 0;
    margin: 0;
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.table {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-top: 20px;
}

table tr td {
    display: flex;
    justify-content: space-between;
    padding: 12px;
}